body {
  padding: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.hidden{
  visibility: hidden;
}

.table tr th, .table{
  text-align: center;
}

.panel{
  width: 100%;
  padding: 0 !important;
}

.container{
  width: 100%;
  text-align: center;
}
