extends ../layout

block content
  h1 Add new Comment

  // get id for comment?
  form.form-horizontal(action="/comments", method="POST")

    .form-group
      label.col-sm-2.control-label(for="tb-content")
        | Comment:
      .col-sm-10
        input.form-control#tb-content(name="content", placeholder="Your comment here...")
    .form-group
      .col-sm-10
        input.form-control.hidden#tb-event-id(name="eventId", value=eventId)
    .form-group
      .col-sm-10
        input.form-control.hidden#tb-event-name(name="eventName", value=eventName)
    .form-group
      button.btn.btn-primary.col-sm-12 Add Comment

