doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='https://bootswatch.com/darkly/bootstrap.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  body
    nav(class='navbar navbar-inverse navbar-fixed-top topnav')
      div(class='container-fluid')
        div(class='navbar-header')
          button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#bs-example-navbar-collapse-2')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='navbar-brand', href='/home') Brand
        div(class='collapse navbar-collapse', id='bs-example-navbar-collapse-2')
          ul(class='nav navbar-nav')
            li
              a(href='/events') Events
          if user != undefined && user.roles.indexOf('admin') > -1
            li
              a(href='/events/create') Create event
          ul(class='nav navbar-nav navbar-right')
            if user == undefined
              li
                a(href="/users/login") Login
              li
                a(href="/users/register") Register
            else
              li
                a(href="/users/logout") Logout
              li
                a(href="#") Welcome&nbsp;
                  =  user.username
            if user != undefined && user.roles.indexOf('admin') > -1
              li(class='dropdown')
                a(class='dropdown-toggle', data-toggle='dropdown', role='button', aria-expanded='false') Admin
                  span(class='caret')
                ul(class='dropdown-menu', role='menu')
                  li
                    a(href='/users') Users

    block content
