extends ../layout

// title: String,
//  description: String,
//  date: Date,
//  town: townModel,
//  user: userModel,
//  comments: [commentModel],
//  rating: [ratingModel]

block content
  h1
    | Title:&nbsp;
    =event.title
  .col-sm-6
    p
      | Date:&nbsp;
      = event.date
    p
      | Town:&nbsp;
      = event.town
    p
      | Username:&nbsp;
      = event.username
    p
      | Description:&nbsp;
      = event.description

    a.btn.btn-success.col-sm-3(class='button', href='/events/' + event.id + '/join') Join

  .col-sm-6
    img(src='#{event.image}' class='img-thumbnail')
  .row
    a.btn.btn-info.col-sm-3(class='button', href='/events/' + event.id + '/addComment') Add comment


  .container
    h1 Comments:
    .row
      hr
      ul
        each comment in comments
          .panel.panel-default
            .panel-heading Made by:
              strong
                a(href="/users/" + comment.userId)= comment.username
            .panel-body= comment.content
            hr
