extends ../layout

// title: String,
//  description: String,
//  date: Date,
//  town: townModel,
//  user: userModel,
//  comments: [commentModel],
//  rating: [ratingModel]

block content
  h1
    | Title:&nbsp;
    =event.title
  img(src='#{event.image}' class='img-thumbnail')
  h3
    |Description:&nbsp;
    = event.description
  h3
    | Date:&nbsp;
    = event.date
  h3
    |Town:&nbsp;
    = event.town
  h3
    | Username:&nbsp;
    = event.username
  .row
    a.btn.btn-primary.col-sm-3(class='button', href='/events/' + event.id + '/addComment') Add comment

  .container
    .row
      hr
      ul
        each comment in comments
          li.text-left
            strong= comment.username
            span
              | :&nbsp;
            span= comment.content
          hr
