extends ../layout

// title: String,
//  description: String,
//  date: Date,
//  town: townModel,
//  user: userModel,
//  comments: [commentModel],
//  rating: [ratingModel]

block content
  h1 Title:
  = event.title
  h3 Description:
  = event.description
  h3 Date:
  = event.date
  h3 Town:
  = event.town
  h3 Username:
  = event.user.username

  p
  a.btn.btn-primary.col-sm-3(class='button', href='/events/' + event.id + '/addComment') Add comment

  ul
    each comment in comments
      li
        strong= comment.username
        span
          | :
        span= comment.content
