extends ../layout

block content
  div(style='margin-top: 60px')
    #container
      if events != 0
        ul
          each event in events
            li= event.title
      else
        h1 No events found!
