extends ../layout

block content
  div(style='margin-top: 60px')
    #container
      if events != 0
        each event in events
          div(class='col-md-8 col-md-offset-2')
            h3(class='jumbotron text-center')= event.title
            p Description:&nbsp;
              = event.description
            h5 Town:&nbsp;
              = event.town
            h5 Date:&nbsp;
              = event.date
            h5 User:&nbsp;
              = event.username
            h5 Event:&nbsp;
              = event._id
            .row
              a.btn.btn-info.col-sm-3(class='button', href='/events/' + event._id) Details
              a.btn.btn-success.col-sm-3.pull-right(class='button', href='/events/' + event._id + '/join') Join

          .col-md-8.col-md-offset-2
            hr
      else
        h1 No events found!
